<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение бронирования</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Главная</a>
        <a href="/search">Поиск билетов</a>
    </nav>
    <h1>Подтверждение бронирования</h1>
    <p><strong>Имя:</strong> <%= name %></p>
    <p><strong>Номер рейса:</strong> <%= flightNumber %></p>
    <p><strong>Дата полета:</strong> <%= date %></p>
    <p><strong>E-mail:</strong> <%= email %></p>
    <p><strong>Количество пассажиров:</strong> <%= passengers %></p>
    <p><strong>Город отправления:</strong> <%= departureCity %></p>
    <p><strong>Город назначения:</strong> <%= destinationCity %></p>

   
        <input type="hidden" name="flightNumber" value="<%= flightNumber %>">
        <button type="submit" class="button" style="padding: 10px 20px; width: auto; min-width: 150px;">Удалить бронирование</button>
    </form>
    
    <!-- Кнопка для редактирования -->
    <a href="/edit/<%= flightNumber %>">
        <button class="button" style="padding: 10px 20px; width: auto; min-width: 150px;">Редактировать бронирование</button>
    </a>

    <a href="/search" class="button" style="padding: 10px 20px; width: auto; min-width: 150px;">Вернуться к поиску билетов</a>
</body>
</html>